body {
    background-color: #ffe6fd;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
    
}

.burger_image{
    width: 25%
}

#burgers{
    float: left;
}

#devoured{
    float: left;
}

